.console{
  display: none;
}
.options{
  display: none;
  width: 0;
  transition: width 0.4s cubic-bezier(.85,.25,.24,.17);
}
.state--expand-to-selection{
  .element-config--btn{
    display: none;
  }
  .options{
    display: inline-block;
    width: 180px;
    height: 30px;
  }
}